// Defined Colors
$red: #c45738;
$blue: #54afae;
$green: #50bd5e;
$magenta: #c84894;
$tan: lighten(#fdf5e6,2%);
$gray: #b1ab9f;
$black: lighten(#211f1b,10%);
$white: #fff;

// Foundation Colors
$primary-color: $green;
$secondary-color: $tan;
$alert-color: $red;
$success-color: $green;

.highlight {
  color: $magenta;
}
