.cta {
  background: $black;
  padding: $global-spacing*0.75;
  margin-bottom: $global-spacing;
  text-align: center;
  @include radius;
}

.cta__section {
  margin-top: -$global-spacing;
  padding-top: $global-spacing;
  background: $red url(images/crowd.png) bottom center;
  border-bottom: 3px solid $gray;
  .checklist {
    font-size: rem-calc(25);
  }
}

.cta__title {
  color: $white;
  font-size: rem-calc(18);
  font-weight: 600;
}

.cta__description {
  font-style: italic;
  color: $gray;
}

input.cta__field {
  font-size: rem-calc(15);
  height: $global-spacing * 2;
  background: $tan;
  // padding-left: rem-calc(65);
}

.cta__form__icon {
  font-size: rem-calc(35);
  right: rem-calc(15);
  color: $gray;
  position: absolute;
  z-index: 1;
  @include single-transition;
  &.ion-person {
    bottom: 133px;
  }
  &.ion-email {
    bottom: 76px;
  }
}

.cta__button.button {
  font-size: rem-calc(15);
  margin-bottom: 0;
}
