.logo {
  color: $black;
  h1 {
    font-size: rem-calc(15);
    margin: 0;
    text-transform: uppercase;
    color: $gray;
  }
  @media #{$medium-up} {
    text-align: left;
  }
}

.logo__icons {
  font-size: rem-calc(60);
  letter-spacing: rem-calc(-5);
}

.logo__icon {
  font-size: rem-calc(60);
}

.logo__icon--tall {
 color: $primary-color;
 font-size: rem-calc(75);
 @include single-transition;
 &:hover {
   color: $magenta;
 }
}

.logo--footer {
  letter-spacing: rem-calc(-1);
  .logo__icon {
    font-size: rem-calc(24);
  }
  .logo__icon--tall {
    font-size: rem-calc(30)
  }
}
