.navigation__menu {
  float: none;
  font-size: rem-calc(22);
  margin-bottom: 0;
  padding-top: rem-calc(40);
  text-align: center;
  li {
    float: none;
    display: inline-block;
    a {
      text-decoration: none;
    }
    &:before {
      float: left;
      padding-right: 5px;
    }
    &.ion-chatbubbles {
      color: $green;
      & > a:hover, &.current-menu-item > a {
        color: $green;
      }
    }
    &.ion-android-hand {
      color: $magenta;
      & > a:hover, &.current-menu-item > a {
        color: $magenta;
      }
    }
    &.ion-person {
      color: $blue;
      & > a:hover, &.current-menu-item > a {
        color: $blue;
      }
    }
    &.ion-briefcase {
      color: $red;
      & > a:hover, &.current-menu-item > a {
        color: $red;
      }
    }
    &.ion-settings {
      color: $gray;
      & > a:hover, &.current-menu-item > a {
        color: $gray;
      }
    }
    & a {
      margin-right: rem-calc(5);
      float: left;
    }
  }
  @media #{$medium-up} {
    float: right;
  }
  a {
    color: $body-font-color;
    @include single-transition;
    &:hover {
      color: $gray;
    }
  }
}
