.post {
  background: $tan;
}

.post__thumbnail {
    border: 3px solid $white;
    float: left;
    margin-right: 12px;
}

.post__excerpt {
  margin-right: 5px;
  margin-bottom: 0;
  p {
    margin-bottom: 0;
  }
}

.post__meta {
  color: $gray;
  margin-bottom: 10px;
  & > li > i {
    float: left;
    padding-right: 5px;
    padding-top: 2px;
    font-size: 20px;
  }
}
