.pricing {
  @extend %border;
  @include radius;
}

.pricing-table {
  border: none;
  margin-bottom: 0;
  &.details .bullet-item {
    background: lighten(#f6f6f6,2%);
  }
  .bullet-item {
    font-size: rem-calc(20);
    &.yes:before {
      font-family: $ionicons-font-family;
      content: $ionicon-var-checkmark;
      color: $green;
    }
    &.no:before {
      font-family: $ionicons-font-family;
      content: $ionicon-var-close;
      color: $magenta;
    }
  }
}
