/*
Theme Name: Design Tall
Theme URI: http://www.designtall.com/
Description: This is a custom build WordPress theme for the Design Tall website.
Author: Josh Medeski
Author URI: http://www.twitter.com/joshmedeski
Version: 1.0
*/

@import "colors";

// Foundation
@import "settings";
@import "foundation";

// Ion Icons
$ionicons-font-path: "fonts";
@import "ionicons";

// Theme
@import "logo";
@import "navigation";
@import "header";
@import "box";
@import "cta";
@import "post";
@import "footer";
@import "book";
@import "panel";
@import "pricing";
@import "featured-image";

%border {
  border: $global-border-width solid $gray;
}

.panel {
  @extend %border;
  @include radius;
}

.button {
  @include radius;
}

.emphasize {
  color: $magenta;
}

.page__title {
  margin-left: $global-spacing;
}

a {
  color: $blue;
  @include single-transition;
  &:hover {
    color: darken($blue,10%);
  }
}

.checklist {
  list-style: none;
  & li:before {
    font-family: $ionicons-font-family;
    content: $ionicon-var-checkmark;
    color: $green;
    padding-right: rem-calc(5);
  }
}
